@import "tailwindcss";

* {
  max-width: 100vw;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Configuração de Temas do Tailwind v4 */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Criando as classes utilitárias de fonte no Tailwind v4 */
  --font-roboto: var(--font-roboto);
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
  --font-open-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos Globais do Elemento Body */
body {
  background: var(--background);
  color: var(--foreground);
  /* Define a Montserrat como fonte padrão do site (fallback nas outras) */
  font-family: var(--font-montserrat), var(--font-poppins), var(--font-roboto), var(--font-open-sans), sans-serif;
}
